@model SOEEApp.Models.Project

@{
    ViewBag.Title = "Create Project";
}

<h2>Create Project</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.Label("OIC")
        @Html.DropDownListFor(model => model.OICUserId, (SelectList)ViewBag.OICUserId, "Select OIC", new { @class = "form-control" })
    </div>    

    <button type="submit" class="btn btn-primary">Save</button>
}
